frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/3.pack
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/8.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/4.pack_
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/9.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/12.pack
frontend/node_modules/.cache/default-development/3.pack_
frontend/node_modules/.cache/default-development/9.pack_
frontend/node_modules/.cache/default-development/10.pack_
frontend/node_modules/.cache/default-development/6.pack_
-e 
# Environment files
*.env
*.env.*
frontend/node_modules/.cache/default-development/11.pack_
frontend/node_modules/.cache/default-development/7.pack_
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/15.pack
frontend/node_modules/.cache/default-development/16.pack
frontend/node_modules/.cache/default-development/18.pack
-e 
# Environment files
*.env
*.env.*
frontend/node_modules/.cache/default-development/17.pack
-e 
# Environment files
*.env
*.env.*
frontend/node_modules/.cache/default-development/1.pack_
-e 
# Environment files
*.env
*.env.*
frontend/node_modules/.cache/default-development/19.pack
-e 
# Environment files
*.env
*.env.*
